extends layout
block content
    div.container
        div.content
            div.row 
                h1 Users List
            hr
            div.row
                table.table.table-hover.table-bordered 
                    thead
                        tr
                            th  Name test
                            th  Surname
                            th  Birthdate
                            th  E-Mail
                            th  Actions
                    tbody
                        each user, i in userList

                            tr
                                td #{user.name}
                                td #{user.surname}
                                td #{user.birthdate}
                                td #{user.email}
                                td 
                                    a.btn.btn-danger.btn-xs(href="/users/delete/" + user._id) Delete User
                hr
                div.row
                    div.col-md-12
                        a.btn.btn-default(href="/users/create") Add New User


