extends layout
block content
    div.container
        div.content
            div.row 
                h1 Users List
            hr
            div.row
                table.table.table-hover.table-bordered 
                    thead
                        tr
                            th  Name
                            th  Surname
                            th  Birthdate
                            th  E-Mail
                            th  Actions
                    tbody
                        tr
                            td Yusuf Yasin
                            td Yavuz
                            td 22.05.1993
                            td yusufyyavuz@outlook.com
                            td 
                                a.btn.btn-danger.btn-xs(href="users/delete/1") User Delete
                hr
                div.row
                    div.col-md-12
                        a.btn.btn-default(href="/users/create") (Add New User)


